[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
shot-scraper = "*"
python-twitter = "*"
click = "*"
pytz = "*"
internetarchive = "*"
python-slugify = "*"
python-telegram-bot = "*"
"discord.py" = "*"

[dev-packages]

[requires]
python_version = "3.9"
